<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/frise.css">
    <title>Frise</title>
</head>
<body>
    <main class="history-tl-container">
        <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
        <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    29 octobre <br> 1973
                </div>
                <div class="item-title">Première connexion de l'Internet</div>
                <div class="item-detail">La première connexion entre deux ordinateurs à travers un réseau décentralisé (ARPANET) a eu lieu. Ce fut le début de ce qui deviendra l'Internet.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    1er janvier <br> 1983
                </div>
                <div class="item-title">Naissance du Domain Name System (DNS)</div>
                <div class="item-detail">Le DNS a été introduit pour permettre aux utilisateurs d'utiliser des noms de domaine au lieu des adresses IP numériques pour naviguer sur Internet.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    6 août <br> 1991
                </div>
                <div class="item-title">Lancement du World Wide Web</div>
                <div class="item-detail">Tim Berners-Lee lance le World Wide Web en tant que projet pour faciliter le partage d'informations à l'échelle mondiale.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    23 avril <br> 1993
                </div>
                <div class="item-title">Lancement de Mosaic, le premier navigateur web populaire</div>
                <div class="item-detail">Mosaic, un des premiers navigateurs web graphiques, est lancé, rendant l'Internet accessible au grand public.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    2 janvier <br> 1994
                </div>
                <div class="item-title">Création de Yahoo!</div>
                <div class="item-detail">Jerry Yang et David Filo créent Yahoo!, l'un des premiers moteurs de recherche et annuaires web, marquant le début de la domination des moteurs de recherche.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    16 juillet <br> 1995
                </div>
                <div class="item-title">Lancement d'Amazon</div>
                <div class="item-detail">Amazon.com est lancé en tant que librairie en ligne, avant de devenir le géant mondial du e-commerce qu'il est aujourd'hui.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    4 septembre <br> 1998
                </div>
                <div class="item-title">Lancement de Google</div>
                <div class="item-detail">Larry Page et Sergey Brin fondent Google, un moteur de recherche révolutionnaire qui changera la manière dont nous trouvons des informations en ligne.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    14 mars <br> 2001
                </div>
                <div class="item-title">La bulle Internet éclate</div>
                <div class="item-detail">Après une période de spéculation intense, la bulle Internet éclate, mettant fin à une période de croissance excessive des entreprises technologiques.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    4 février <br> 2004
                </div>
                <div class="item-title">Facebook est lancé</div>
                <div class="item-detail">Mark Zuckerberg et ses camarades de classe lancent Facebook, un réseau social qui deviendra l'une des plateformes les plus influentes au monde.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    14 février <br> 2005
                </div>
                <div class="item-title">Lancement de YouTube</div>
                <div class="item-detail">Steve Chen, Chad Hurley et Jawed Karim lancent YouTube, permettant à tout un chacun de partager et regarder des vidéos en ligne.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    21 mars <br> 2006
                </div>
                <div class="item-title">Twitter voit le jour</div>
                <div class="item-detail">Jack Dorsey, Noah Glass, Biz Stone et Evan Williams lancent Twitter, un site de microblogging révolutionnaire qui transforme la communication en ligne.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    29 juin <br> 2007
                </div>
                <div class="item-title">Lancement de l'iPhone</div>
                <div class="item-detail">Apple lance l'iPhone, un appareil mobile révolutionnaire qui change la manière dont les gens accèdent à Internet via leurs téléphones.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    3 janvier <br> 2009
                </div>
                <div class="item-title">Lancement de Bitcoin</div>
                <div class="item-detail">Le créateur pseudonyme de Bitcoin, Satoshi Nakamoto, mine le premier bloc de la blockchain, marquant le début de la cryptomonnaie.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    3 avril <br> 2010
                </div>
                <div class="item-title">Lancement de l’iPad</div>
                <div class="item-detail">Apple présente l'iPad, un nouveau type d'appareil mobile qui devient un outil essentiel pour naviguer sur Internet.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    28 juin <br> 2011
                </div>
                <div class="item-title">Lancement de Google+</div>
                <div class="item-detail">Google lance son propre réseau social, Google+, pour rivaliser avec Facebook, bien que le service finisse par fermer en 2019.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    4 octobre <br> 2012
                </div>
                <div class="item-title">Facebook dépasse un milliard d’utilisateurs</div>
                <div class="item-detail">Facebook atteint un milliard d'utilisateurs mensuels, consolidant sa place en tant que plus grand réseau social au monde.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    26 novembre <br> 2014
                </div>
                <div class="item-title">Lancement de Amazon Prime Video</div>
                <div class="item-detail">Amazon lance son service de streaming vidéo, Amazon Prime Video, en concurrence directe avec Netflix.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    10 août <br> 2015
                </div>
                <div class="item-title">Google devient Alphabet</div>
                <div class="item-detail">Google annonce qu'il va restructurer ses activités sous une nouvelle société-mère, Alphabet Inc., pour mieux gérer ses diverses initiatives.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    6 juillet <br> 2016
                </div>
                <div class="item-title">Lancement de Pokémon Go</div>
                <div class="item-detail">Le jeu mobile Pokémon Go devient un phénomène mondial en utilisant la réalité augmentée pour permettre aux joueurs de capturer des Pokémon dans le monde réel.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    12 mai <br> 2017
                </div>
                <div class="item-title">L’attaque par ransomware WannaCry</div>
                <div class="item-detail">Le ransomware WannaCry infecte des centaines de milliers d'ordinateurs dans le monde, exploitant une faille de sécurité dans Windows.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    25 mai <br> 2018
                </div>
                <div class="item-title">L’entrée en vigueur du RGPD</div>
                <div class="item-detail">Le Règlement général sur la protection des données (RGPD) entre en vigueur en Europe, établissant de nouvelles règles strictes sur la collecte et l'utilisation des données personnelles.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    5 avril <br> 2019
                </div>
                <div class="item-title">Déploiement de la 5G</div>
                <div class="item-detail">Le déploiement de la 5G commence dans certaines régions, promettant des vitesses de connexion Internet ultra-rapides et un large éventail d'innovations technologiques.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    5 novembre <br> 2022
                </div>
                <div class="item-title">Lancement de ChatGPT</div>
                <div class="item-detail">OpenAI lance ChatGPT, un modèle de langage avancé qui génère des conversations naturelles et révolutionne les interactions en ligne avec l'IA.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    23 mars <br> 2023
                </div>
                <div class="item-title">Les premiers tests de la 6G</div>
                <div class="item-detail">Les premières expérimentations pour la technologie 6G commencent, promettant des vitesses de connexion encore plus rapides et de nouvelles applications pour l’Internet des objets.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    15 février <br> 2024
                </div>
                <div class="item-title">La réalité virtuelle dans les réseaux sociaux</div>
                <div class="item-detail">De plus en plus de plateformes sociales commencent à intégrer des éléments de réalité virtuelle, offrant aux utilisateurs une expérience immersive en ligne.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    12 août <br> 2025
                </div>
                <div class="item-title">Internet quantique</div>
                <div class="item-detail">Des chercheurs travaillent sur l'Internet quantique, une technologie révolutionnaire qui pourrait permettre des communications ultra-sécurisées et extrêmement rapides.</div>
            </li>
            
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    18 février <br> 2026
                </div>
                <div class="item-title">L’Internet totalement intégré aux objets</div>
                <div class="item-detail">L'Internet des objets (IoT) continue d'évoluer, avec chaque appareil électronique étant connecté à Internet, transformant ainsi chaque aspect de la vie quotidienne.</div>
            </li>
        </ul>
    </main>
    
</body>
</html>