/* Animations
--------------------------------------------------------*/
@keyframes glow-fade {
    from {
        text-shadow: 0 0 6px var(--glow-color-light);
    }
    to {
        text-shadow: 0 0 12px var(--glow-color);
    }
}

/* Custom Cursor
--------------------------------------------------------*/
#cursor {
    width: var(--cursor-size);
    height: var(--cursor-size);
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform 0.1s linear;
    animation: glow-fade 2s ease-in-out infinite alternate;
}

/* Element
--------------------------------------------------------*/
.element {
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    width: var(--element-size);
    height: var(--element-size);
    color: var(--color-primary);
    font-size: 20px;
    transition: 1s;
}